<nav class="top-header">
  <img src ="../../assets/images/Scotiabank-Logo.jpg"  alt="">
  <a [routerLink]="['/']" >
    Home
  </a>
  |
  <a [routerLink]="['/contact', 'getRepos', { foo: 'foo', boo: 'boo' }]" routerLinkActive="active">
    Contact
  </a>
  |

  <a [routerLink]="['/help']" routerLinkActive="active">
    Help
  </a>
  |

  <a [routerLink]="['/login']" [hidden] = "username" routerLinkActive="active">
    Login
  </a>
  <span [hidden] = "!username">{{username}}</span>
  &nbsp;
  <button class="btn" [ngClass]="{ 'btn-primary': currentLanguage === 'en' }" (click) = "changeLanguage('en')">English</button>
  <button class="btn" [ngClass]="{ 'btn-primary': currentLanguage === 'fr' }" (click) = "changeLanguage('fr')">French</button>
</nav>






