<div class="container">
  <header-component></header-component>
  <h1 class="title-bg-color">

    <span class="main-title">{{title}}</span>
  </h1>
  <div>{{ 'HELLO' | translate:param }}</div>
  <app-my-grid-application></app-my-grid-application>
  <ngb-alert [dismissible]="true">I'm a dismissible alert :)</ngb-alert>
  <!---------NEEDS FOR MODAL BOOTSTRAP-->
  <template ngbModalContainer></template>

  <router-outlet></router-outlet>
  <!--<router-outlet name="popup"></router-outlet>-->
</div>
