/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.title-bg-color{
  background-color: #805331;
  .main-title{
    color: #fff;
  }
}
.ag-fresh{
  font-size: 12pt;
}
